@font-face {
  font-family: "Palaquin";
  src: url("../fonts/Palanquin-SemiBold.ttf");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

:root {
  --quiz-content-width: 700px;
  --global-green: #10C69B;
  --global-grey: #C4C4C4;
  --global-red: #9F2452;
  --header-option-button-explain: 22px;
  --question-explainHead: 35px;
  --border-width: 10px;
}

html, body {
  margin: 0px;
  height: 100%;
}

#root {
  height: 100%;
}

h1 {
  font-family: "Palaquin";
}

h2 {
  font-family: "Roboto Regular";
}

.quizApp {
  display: flex;
  height: 100%;
}

.header {
  width: 20%
}

.app {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  border-left: var(--border-width) solid var(--global-grey);
  transition: 0.5s;
}

.app.activeGreen {
  transition: 0.5s;
  border-left: var(--border-width) solid var(--global-green);
}

.app.activeRed {
  transition: 0.5s;
  border-left: var(--border-width) solid var(--global-red);
}

.hover-anim {
    display: inline-block;
    position: relative;
    color: black;
}
  
.hover-anim:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-anim:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 1024px) {
  :root {
    --quiz-content-width: 500px;
    --header-option-button-explain: 16px;
    --question-explainHead: 26px;
    --border-width: 8px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --quiz-content-width: 450px;
    --header-option-button-explain: 14px;
    --question-explainHead: 22px;
    --border-width: 7px;
  }
}

@media screen and (max-width: 425px) {
  .quizApp {
    flex-direction: column;
  }

  :root {
    --quiz-content-width: 300px;
    --border-width: 5px;
  }
  
  .app, .app.activeGreen, .app.activeRed {
    border-left: none;
  }

  .app {
    height: 100%;
    overflow: visible;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 375px) {
  :root {
    --quiz-content-width: 275px;
  }
}

@media screen and (max-width: 320px) {
  :root {
    --quiz-content-width: 250px;
    --header-option-button-explain: 12px;
    --question-explainHead: 20px;
  }
}
