.question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options {
    display:grid;
    grid-template-columns: calc(var(--quiz-content-width) / 2) calc(var(--quiz-content-width) / 2);
    gap: 20px
}

.options label {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: "Roboto Regular";
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: var(--header-option-button-explain);
    text-align: left;
}

.selected {
    border: 2px solid white;
    color: white;
    transition: 0.5s;
    position: relative;
    min-width: calc((var(--quiz-content-width) / 2) - 44px);
    max-width: calc((var(--quiz-content-width) / 2) - 44px);
}

.selected.unselected:after {
    content: '\A';
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    top: 0; 
    bottom: 0;
    left: 0; 
    width: inherit;
    -webkit-animation: filler 2s ease-in-out;
    -moz-animation: filler 2s ease-in-out;
    animation: filler 2s ease-in-out;
}

.selected:hover {
    border: 2px solid var(--global-grey);
    color: var(--global-grey);
    transition: 0.5s;
}

.selected.active {
    border: 2px solid var(--global-green);
    color: var(--global-green);
    transition: 0.5s;
    position: relative;
}

.selected.active.correct:after {
    content: '\A';
    position: absolute;
    background: rgba(16, 198, 155, 0.3);
    top: 0; 
    bottom: 0;
    left: 0; 
    width: inherit;
    -webkit-animation: filler 2s ease-in-out;
    -moz-animation: filler 2s ease-in-out;
    animation: filler 2s ease-in-out;
}

.selected.wrong {
    border: 2px solid var(--global-red);
    color: var(--global-red);
    transition: 0.5s;
    position: relative;
}

.selected.wrong:after {
    content: '\A';
    position: absolute;
    background: rgb(159, 36, 82, 0.3);
    top: 0; 
    bottom: 0;
    left: 0; 
    width: inherit;
    -webkit-animation: filler 2s ease-in-out;
    -moz-animation: filler 2s ease-in-out;
    animation: filler 2s ease-in-out;
}

input[type="radio"] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: black;
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    background-color: black;
    display: grid;
    place-content: center;
}

.selected.active input[type="radio"] {
    border: 0.15em solid var(--global-green);
    transition: 0.5s;
}

.selected.active input[type="radio"]:hover {
    border: 0.15em solid var(--global-green);
}

.selected input[type="radio"] {
    border: 0.15em solid white;
    transition: 0.5s;
    flex-shrink: 0;
}

.selected input[type="radio"]:hover {
    border: 0.15em solid var(--global-grey);
    transition: 0.5s;
}

.selected.wrong input[type="radio"] {
    border: 0.15em solid var(--global-red);
    transition: 0.5s;
}

input[type="radio"]::before {
    content: "";
    min-width: 0.65em;
    min-height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
}

.selected input[type="radio"]::before {
    box-shadow: inset 1em 1em var(--global-green);
}

.selected.wrong input[type="radio"]::before {
    box-shadow: inset 1em 1em var(--global-red);
    transition: 0.5s;
}

  
input[type="radio"]:checked::before {
    transform: scale(1);
}

@-webkit-keyframes filler {
    0% {
        width:0;
    }
}
@-moz-keyframes filler {
    0% {
        width:0;
    }
}
@keyframes filler {
    0% {
        width:0;
    }
}

@media screen and (max-width: 650px) {
    .options {
        grid-template-columns: var(--quiz-content-width);
    }    

    .selected {
        min-width: calc(var(--quiz-content-width) - 44px);
        max-width: calc(var(--quiz-content-width) - 44px);
    }
}