.quiztop {
    display: flex;
    flex-direction: column;
    width: var(--quiz-content-width);
    margin-bottom: 10px;
}

.quizHeader {
    color: var(--global-grey);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 10px;
}

.quizName {
    width: 60%;
    font-size: var(--header-option-button-explain);
    line-height: 30px;
    margin: 0px;
}

.questionNumber {
    width: 100%;
    text-align: right;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 30px;
}

.progressBar {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

.progressBar div {
    height: 5px;
    border-radius: 10px;
}

.green {
    background-color: var(--global-green);
    transition: 0.5s;
}

.red {
    background-color: var(--global-red);
    transition: 0.5s;
}

.white {
    background-color: var(--global-grey);
}

.currentQuestion {
    color: white;
    font-size: 35px;
}

.quiztop .question {
    color: white;
    font-size: var(--question-explainHead);
    line-height: 40px;
    text-align: left;
    margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
    .currentQuestion {
        font-size: 28px;
    }

    .questionNumber {
        font-size: 24px;
    }

    .quizName {
        line-height: 22px;
    }
}

@media screen and (max-width: 768px) {
    .currentQuestion {
        font-size: 26px;
    }

    .questionNumber {
        font-size: 22px;
    }

    .progressBar div {
        height: 4px;
    }
}