.fixed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.nextQuestion {
    text-align: center;
}

.explain {
    color: white;
    width: var(--quiz-content-width);
    visibility: hidden;
    opacity: 0;
    height: 0;
    position: absolute;
    top: 100%;
}

.explain.active {
    visibility: visible;
    height: auto;
    opacity: 1;
    transition: opacity 2s 0.5s;
}

.explain.active h2 {
    display: block;
}

.explain h2 {
    display: none;
}

.next {
    background-color: white;
    color: black;
    border: 2px solid white;
    font-size: var(--header-option-button-explain);
    font-family: "Roboto Regular";
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 5px 30px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
}

.next.active {
    visibility: visible;
    height: auto;
    opacity: 1;
    transition: opacity 2s;
}

.none {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    height: 0;
}

.next.active:hover{
    background-color: black;
    color: white;
    transition: 1s;
    cursor: pointer;
}

form {
    text-align: center;
}

.explainHeader {
    font-size: var(--question-explainHead);
}

.explainContent {
    font-size: var(--header-option-button-explain);
}

@media screen and (max-width: 1024px) {
    form {
        padding-top: 30px;
    }

    .explain.active {
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .explainContent, .explainHeader {
        width: var(--quiz-content-width);
    }
}